#container {
	background-color: blue;
	display: inline-block;
	width: 400px
	height:400px;
}

#contents {
	background-color: green;
	display: inline-block;
	width: 320px;
	height: 320px;
	margin: 40px;
}